<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- DEV SERVER LOG LOCATION -->
    <property name="LOG_HOME" value="/logs/log_team5/dev"/>

  
    <!-- Console Logging (for dev) -->
  
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

   
    <!-- File Logging (Daily logs) -->
    
    <appender name="DEV_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    
    <!-- DEBUG logs for ONLY your application  -->
   
    <logger name="com.avsoft.hostelmanagement" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEV_FILE"/>
    </logger>

    <!-- Spring framework logs -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.web.servlet" level="INFO"/>

    <!-- Hibernate logs in dev -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

  
    <!-- Root logger (INFO level)  -->
  
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEV_FILE"/>
    </root>

</configuration>